.App {
  text-align: center;
  align-content: center;
  padding-left: 10% !important;
  padding-right: 10% !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html body{
  background-color: #caf4ff;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.card {
  background-color: #caf4ff !important;
  border: none !important;
}

.card-body{
  background-color: #4f5d73;
  border-radius: 0.25em !important;
}

.card-title{
  color: white;
  font-size: 1.5em;
  font-weight: 400;
}

.session-btn{
  margin-right: 1em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.headerRow {
  text-align-last: start;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .App {
    text-align: center;
    align-content: center;
    padding-left: 0% !important;
    padding-right: 0% !important;
  }

}

.loader {
  border: 6px solid #ffffff;
  border-radius: 50%;
  border-top: 6px solid rgb(0, 182, 233);
  width: 35px;
  height: 35px;
  margin-left: 1em;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  display: none;
  position: relative;
  z-index: 10;
}

.margin {
  margin-top: 1em;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.alert {
  display: flex;
  align-items: center;
  margin-bottom: 0 !important;
  margin-top: 1em;
}

.table {
  background-color: aliceblue !important;
}
